body{
    padding-top: 100px;
    background-color: rgb(221, 230, 240);
}

#myHeader a:hover{
    color:midnightblue;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 700;   
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

figure {
    padding: 20px;
}

.card {
    width:18rem;
    width: 50%;
    margin:auto;
}

.form {
    width: 50%;
    margin:auto; 
}
