
body{
    padding-top: 100px;
    background-color: whitesmoke;
}

#myHeader h1 {
    color:whitesmoke;
}

#myHeader a {
    font-family: 'Libre Caslon Text'
}

h3{
    font-family: 'Libre Caslon Text', Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    
}
h1 {
    font-family: 'Libre Caslon Text', serif;
    text-align: center;
    font-weight: 500;  
    
}

h2{
    font-family: 'Libre Caslon Text', Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center
}

figure {
    padding: 40px;
}


#aboutMe {
    padding-left: 5%;

}

.container {
    padding-bottom: 50px;
}

.portfolioPhoto {
    width: 400px;
    height: 400px;

}

#profile {
	width: 250px;
	height: 250px;
	object-fit: cover;
}

.myButton{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
    background:#343a40;
    color:whitesmoke;
	padding:16px 22px;
	display:inline-block;
}
.myButton:hover{
	background:#373d4c;
	color:#CCCCCC;
    text-decoration:none;

}

section {
    margin-top: 40px;
}

ul {
    list-style: none;
    align-content: center;
}
 
footer {
    background:#343a40;
}

footer p {
    color: whitesmoke;
}

